.stories-block {
  display: flex;
  gap: 30px;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to bottom right, #09203f, #537895);
  border-radius: 5px;
}

.stories-block .close-btn {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 1;
}

.story {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding: 20px 0px;
}

.story__slider {
  width: 540px;
  height: 800px;
  border-radius: 6px;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .story__slider {
    width: 100%;
  }
}

.story__slide {
  position: relative;
}

.story__slide video,
.story__slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.story__pagination {
  bottom: unset !important;
  top: 8px !important;
  display: flex;
  padding: 0 4px;
}

.story__pagination .swiper-pagination-bullet {
  flex-grow: 1;
  border-radius: 100vh;
  height: 3px;
  margin: 0 2px !important;
  background-color: rgba(247, 247, 245, 0.4);
  opacity: 1;
}

.story__pagination .swiper-pagination-bullet .swiper-pagination-progress {
  height: 100%;
  width: 0%;
  border-radius: 100vh;
  background-color: #f7f7f5;
}

.story__prev, .story__next {
  height: 100%;
  width: 50%;
  top: 0;
  margin-top: 0;
}

.story__prev::after, .story__next::after {
  content: none;
}

.story__prev {
  left: 0;
}
.story__next {
  right: 0;
}

.small-image {
  width: -moz-fit-content;
  width: fit-content;
  width: 100px;
  height: 100px;
  border: double 10px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #fa7e1e, #feda75);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.small-image img {
  height: 80px;
  width: 80px;
  border-radius: 50%; /* Ensure the image is also circular */
}

.white-pagination {
  background-color: white !important;
}
