<div class="stories-block">
	{% for images in content['#main_images'] %}
		<div class="story-slider-wrapper">
			<div class="story" id="story-{{ loop.index }}">
				<div class="story__slider swiper">
					<div class="story__wrapper swiper-wrapper">
						{% for image in images %}
							<div class="story__slide swiper-slide">
								<img class="story__slide swiper-slide-img" src="{{ image.url }}" alt="{{ image.alt }}">
							</div>
						{% endfor %}
					</div>

					<div class="story__next swiper-button-next"></div>
					<div class="story__prev swiper-button-prev"></div>
					<div class="story__pagination swiper-pagination"></div>
				</div>
			</div>

			<div class="small-image" data-story-target="#story-{{ loop.index }}">
				<img class="small-image-img" src="{{ file_url(content['#small_images'][loop.index - 1].url) }}" alt="{{ content['#small_images'][loop.index - 1].alt }}">
			</div>
		</div>
	{% endfor %}

	<div class="close-btn">
		<i class="lni lni-close"></i>
	</div>
</div>
